
{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<h2>Latest Snips</h2>
{{if .AllSnips}}
    <table>
        <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Created</th>
        </tr>
        {{range .AllSnips}}
        <tr>
        <td>#{{.ID}}</td>
        <td><a href='/sniptext/{{.ID}}'>{{.Title}}</a></td>
        <td>{{formattedDate .Created}}</td>
        </tr>
        {{end}}
    </table>
{{else}}
<p>There's nothing to see here yet!</p>
{{end}}
{{end}} 