
{{template "base" .}}

{{define "title"}}Snip #{{.Snip.ID}}{{end}}

{{define "body"}}
<div class='snippet'>
<div class='metadata'>
<strong>{{.Snip.Title}}</strong>
<span>#{{.Snip.ID}}</span>
</div>
<pre><code>{{.Snip.Content}}</code></pre>
<div class='metadata'>
<time>Created: {{formattedDate .Snip.Created}}</time>
<time>Expires: {{formattedDate .Snip.Expires}}</time>
</div>
</div>
{{end}} 